.success-container {
    width: 1920px;
    height: 1080px;
    background-color: #CE2829;
    text-align: center;
    padding: 3rem 1rem;
    
  }
  
  .success-container img {
    width: 361.9324035644531;
    margin-top: 149px;
    height: 45.78999710083008;
    align-items: center;
  }
    
  .success-container p {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 2rem;
    font-family: 'Roboto Condensed';
    font-size: 86px;
    line-height: 92px;
    font-weight: 300;
  }
  
  .success-container .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #fdc913;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .success-container .btn:hover {
    background-color: #e5b812;
  }
  